<!DOCTYPE html>
<html lang="en">

<head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Angular JS files-->
    <script src="./libraries/js/angular.js"></script>
    <script src="./libraries/js/angular-cookies.js"></script>
    <script src="./libraries/lib/notification.js"></script>
    <script src="./libraries/lib/angular-ui-notification.js"></script>
    <script src="./angular/config.js"></script>
    <link rel="stylesheet" href="./libraries/angular-ui-notification.min.css">
    <style>
        .responsive {
            width: 100%;
            height: 293px;
        }

        .fixed {
            width: 33%;
            table-layout: fixed;
            border-collapse: collapse;
        }

        .fixed th {
            text-decoration: underline;
            border-bottom: 1px solid #ddd;
        }

        .fixed th,
        .fixed td {
            padding: 5px;
            text-align: left;
            width: 200px;
        }


        .fixed thead {
            background-color: #92cec1ad;
            color: black;
        }

        .fixed thead tr {
            display: block;
            position: relative;
        }

        .fixed tbody {
            display: block;
            overflow: auto;
            width: 100%;
            height: 303px;
            overflow-y: auto;
        }
    </style>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */

        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */

        .row.content {
            height: 450px
        }

        /* Set gray background color and 100% height */

        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */

        footer {
            background-color: #555;
            color: black;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */

        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {
                height: auto;
            }
        }
    </style>
    <style>
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('./images/spinner.gif') 50% 50% no-repeat rgb(249, 249, 249);
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $(".loader").fadeOut("slow");
        })
    </script>
</head>

<body ng-app="index" ng-controller="indexController">
    <div class="loader"></div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </nav>





    <div class="container-fluid text-center">
        <!--Edit tables-->
        <form name="images" action="{{'/UpdateProductDetails' + '/'+ myProductDetails.productName + '/'+ myProductDetails.quantity + '/'+ myProductDetails.productPrice + '/'+ myProductDetails.totalPrice + '/'+ myProductDetails.description + '/' + myProductDetails.remarks + '/' + myProductDetails._id}}"
            enctype="multipart/form-data" method="post">
            <table ng-if="editMode == 1" class="table table-condensed pull-left" style="background-color:#3f8196ad;width:100%;">
                <tr>
                    <th style="width:25%;">Edit Product Details</th>
                </tr>

                <tr>
                    <td ng-if="myProductDetails != null">
                        <table class="table ">
                            <tr>
                                <td>
                                    <a>Product Name</a>
                                </td>
                                <td>:</td>
                                <td>
                                    <input type="text" ng-model="myProductDetails.productName" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a>Product Quantity</a>
                                </td>
                                <td>:</td>
                                <td>
                                    <input type="text" ng-model="myProductDetails.quantity" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a>Product price per quantity</a>
                                </td>
                                <td>:</td>
                                <td>
                                    <input type="text" ng-model="myProductDetails.productPrice" class="form-control">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <a>Total Price</a>
                                </td>
                                <td>:</td>
                                <td>
                                    <input type="text" ng-model="myProductDetails.totalPrice" value="{{myProductDetails.totalPrice=myProductDetails.quantity * myProductDetails.productPrice}}"
                                        class="form-control" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a>Product Description</a>
                                </td>
                                <td>:</td>
                                <td>
                                    <textarea ng-model="myProductDetails.description" rows="4" cols="50" class="form-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a>Product Remarks</a>
                                </td>
                                <td>:</td>
                                <td>
                                    <textarea ng-model="myProductDetails.remarks" rows="4" cols="50" class="form-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a>Update Image</a>
                                </td>
                                <td>:</td>
                                <td>
                                    <input type="file" name='images' class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>:</td>
                                <td>
                                    <input type="submit" value="UPDATE" class="btn btn-default " style="background-color:rgb(126, 218, 126);color:white;" />
                                    <a href="#" class="btn btn-default" style="background-color:rgb(90, 85, 85);color:rgb(103, 184, 209);" ng-click="hideEditTable()">CLOSE</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
        <div class="row content">
            <div ng-if="editMode == 0" class="col-sm-12 text-left">
                <form class="col-sm-12 text-left" style="background-color:#92cec1ad ;">
                    <div class="form-row">
                        <div class="form-group col-md-8 pull-left">
                            <h2>Add new Product</h2>
                        </div>
                        <div class="form-group col-md-4 pull-right">
                            <h2>Products List</h2>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 text-left">

                <form ng-if="editMode == 0" name="images" class="col-sm-8 text-left" action="{{'/AddProduct' + '/'+ productName + '/'+ quantity + '/'+ productPrice + '/'+ totalPrice + '/' + description + '/' + remarks}}"
                    enctype="multipart/form-data" method="post" style="background-color:#92cec1ad ;">

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Product Name</label>
                            <input type="text" ng-model="productName" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Product Quantity</label>
                            <input type="number" ng-model="quantity" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Price per Quantity</label>
                            <input type="number" ng-model="productPrice" class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Total Price</label>
                            <input type="number" ng-model="totalPrice" value="{{totalPrice=quantity * productPrice}}" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Description</label>
                            <textarea ng-model="description" rows="4" cols="50" class="form-control"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Remarks</label>
                            <textarea ng-model="remarks" rows="4" cols="50" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Upload image</label>
                            <input type="file" class="btn btn-default" name='images' style="width:100%;">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            
                            <input type="submit" value="ADD" class="btn btn-primary" style="width:100%;" />
                        </div>
                    </div>

                </form>

                <table ng-if="editMode == 0" class="fixed pull-left" style="background-color:#92cec1ad ;">
                    <thead>
                        <tr>
                            <td>
                                <b>Sl no</b>
                            </td>
                            <td>
                                <b>Product Name</b>
                            </td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products ">
                            <td style="border-bottom: 1px solid #ddd;">
                                <a href="#" style="color:black;" ng-click="getDetails(product._id)">{{$index + 1}}</a>
                            </td>
                            <td style="border-bottom: 1px solid #ddd;">
                                <a href="#" style="color:black;" ng-click="getDetails(product._id)">{{product.productName}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table ng-if="editMode == 0" class="table table-condensed pull-left" style="background-color:#3f8196ad;width:70%;">
                    <tr>
                        <th>Product Details</th>
                    </tr>

                    <tr>
                        <td ng-if="myProductDetails != null">
                            <table class="table ">
                                <tr>
                                    <td style="width: 32%;">
                                        <a>Product Name</a>
                                    </td>
                                    <td style="width: 1%;">:</td>
                                    <td>
                                        {{myProductDetails.productName}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a>Product Quantity</a>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        {{myProductDetails.quantity}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a>Product price per quantity</a>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        {{myProductDetails.productPrice}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a>Total Price</a>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        {{myProductDetails.totalPrice}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a>Description</a>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        {{myProductDetails.description}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a>Remarks</a>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        {{myProductDetails.remarks}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>:</td>
                                    <td>
                                        <a href="#" class="btn btn-default" style="background-color:rgb(126, 218, 126);color:white;" ng-click="getDetails(myProductDetails._id);hideShowTable()">EDIT</a>
                                        <a href="#" class="btn btn-default" style="background-color:rgb(218, 55, 55);color:white;" data-toggle="modal" data-target="#myDeleteModal"
                                            data-ng-click="sendToDeleteProduct(myProductDetails._id)">DELETE</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table ng-if="editMode == 0" class="table table-condensed pull-left" style="background-color:#3f8196ad;width:30%;text-align:center;">
                    <tr>
                        <th>Product Image</th>
                    </tr>
                    <tr>
                        <td ng-if="myProductDetails != null" style="text-align:center;">
                            <img ng-src="{{myProductDetails.image}}" class="responsive">
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <!-- Product delete conform Modal -->

    <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-color: rgba(255, 0, 0, 0.4);text-align: center;">
                    <span style="color:white;font-size:14px;">Are you sure to delete this Product details?</span>
                    <button type="button" class="btn btn-default " data-dismiss="modal">No</button>
                    <button data-ng-click="delete(productId)" type="button" class="btn btn-primary ">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Angular JS -->
    <script src="./angular/index.js"></script>
</body>

</html>